/* You can add global styles to this file, and also import other style files */
.orange-bar{
    width: 100%;
    height: 0.3rem;
    background: orange;
}
.orange-green-bar{
    width: 100%;
    height: 0.2rem;
    background: #A5CF5F;
}

.no-v-padding{
    padding-top:0px;
    padding-bottom: 0px;
}

.nav-item:hover{
    background: orange;
    border-radius: 3px;
    border-bottom: solid 0.2rem #A5CF5F;
    /* padding-left:3px; */
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

li.nav-item:hover > a.nav-link:hover{
    color: #F5FFFA;
}

.nav-item.active{
    font-weight: 500;
}